.img{
    border-radius:50%;
    height:300px;
}

.search-form{
    padding: 50px;
}

h1{
    font-size: 70px;
    font-weight:bolder;
    color:black;
    text-align:center;
    text-decoration: underline;
    font-family: 'Yeon Sung', cursive;
    padding:50px;
    text-shadow: 4px 4px white;
}

.label{
    padding:18px;
    font-weight: bolder;
    font-size: 16px;
    color:black;
    font-family:arial;
}

.card-text{
    font-weight: bold;
    letter-spacing: 1px;
}

h3{
    font-weight: bolder;
    font-family:verdana;
}

h1{
    border-bottom: 1px solid black;
}

#dec{
    font-size: 20px;
    font-weight: bold;

}

.list-group-item{
    font-weight: bolder;
}

.view{
    text-align: center;
    font-weight: bolder;
}