.img{
    border-radius:50%;
    height:400px;
}

.enter{
    padding: 20px;
}

h1{
    font-size: 70px;
    font-weight:bolder;
    color:black;
    text-align:center;
    text-decoration: underline;
    font-family: 'Yeon Sung', cursive;
    padding:70px;
    text-shadow: 4px 4px white;
}

.label{
    font-weight: bolder;
    padding:18px;
    font-size: 16px;
    color:black;
    font-family:arial;
}

.card-text{
    font-weight: bold;
    letter-spacing: 1px;
}

h2{
    font-weight: bolder;
    font-family:verdana;
}

h1{
    border-bottom: 1px solid black;
}

#dec{
    font-size: 20px;
    font-weight: bold;

}

.list-group-item{
    font-weight: bolder;
}

.view{
    text-align: center;
    font-weight: bolder;
    width:300px;
    padding:10px;
    text-align: center;
}

input[type=text]{
    font-size: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    width:400px;
}

.card{
    box-shadow:0 10px 10px 0;
    padding:30px;

}