<h1>GITHUB PROFILE SEARCH</h1> 
<form action="" class="search-form">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">  
    </div>
</form> 
 <div *ngIf="profile">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img class ="img" src="{{profile.avatar_url}}">
                </div>
                <div class="col-sm-5"> 
                     <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                        <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}"</a></li>
                        <li class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}"{{profile.email}}></a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-success"> {{profile.followers}} Followers</span>

                            <span class="label label-secondary"> {{profile.following}} Following </span>
 
                            <span class="label label-primary"> {{profile.public_gists}} gists</span>

                            <span class="label label-warning"> {{profile.public_repos}} public Repositories</span>
                        </p>
                        <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-outline-success btn-sm">View profile on github</a></p>
                        
                            <!-- <div class="card">
                                <h1>Repos</h1>
                            </div>
                            <div class="pan-bdy" *ngFor="let repo of repos">
                                <p>
                                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-primary">View this project on github</a>
                                    {{repo.description}}</p>
                            </div>
                       </div>
                    </div>
                </div>
            </div> 
        </div> -->
       
                         
 -->
